@use './partials/_variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {


    background-color: $themeColor;
}

p,
span,
li {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 25px;
    font-size: 18px;
}

button {
    letter-spacing: 2.8px;
    font-family: 10px;
    transition: all 0.3s linear;
}

h2,
h1,
h3,
h5,
h6,
h4 {
    font-family: "Bai Jamjuree"
}